<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<div class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}{f:if(condition: '{newsItem.pid} == 81', then: ' inEigenerSache')} row" itemscope="itemscope" itemtype="https://schema.org/Article">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>

	<f:if condition="{newsItem.falMedia}">
		<!-- fal media preview element -->
		<div class="news-img-wrap col-sm-3 hidden-xs-down p-l-0">
			<f:if condition="{newsItem.falMediaPreviews}">
				<f:then>
					<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
						<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
							<f:if condition="{mediaElement.originalResource.type} == 2">
								<f:image image="{mediaElement}" class="img-fluid" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
							</f:if>
							<f:if condition="{mediaElement.originalResource.type} == 4">
								<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}"/>
							</f:if>
							<f:if condition="{mediaElement.originalResource.type} == 5">
								<f:image image="{mediaElement}" class="img-fluid" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
							</f:if>
						</f:alias>
					</n:link>
				</f:then>
				<f:else>
					<f:if condition="{settings.displayDummyIfNoMedia}">
						<span class="no-media-element">
							<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
								<f:image src="{settings.list.media.dummyImage}" class="img-fluid" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"/>
							</n:link>
						</span>
					</f:if>
				</f:else>
			</f:if>
		</div>
	</f:if>

	<div class="{f:if(condition: newsItem.falMediaPreviews, then: ' col-xs-12 col-sm-9', else: ' col-xs-12')} p-x-0">
		<!-- header -->
		<f:if condition="{newsItem.contentElements}">
			<f:then>
				<f:for each="{newsItem.contentElements}" as="element" iteration="counter">
					<f:if condition="{counter.isFirst}">
						<f:if condition="{element.listType} != 'amazon_affiliate_piproducts'">
							<div class="header">
								<h2>
									<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
										<span itemprop="headline">{newsItem.title}</span>
									</n:link>
								</h2>
							</div>
						</f:if>
					</f:if>
				</f:for>
			</f:then>
			<f:else>
				<div class="header">
					<h2>
						<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
							<span itemprop="headline">{newsItem.title}</span>
						</n:link>
					</h2>
				</div>
			</f:else>
		</f:if>
	
		<!-- teaser -->
		<article class="row teaser-text">
		<div class="col-xs-12">
			<f:if condition="{newsItem.contentElements}">
				<f:then>
					<f:for each="{newsItem.contentElements}" as="element" iteration="counter">
						<f:if condition="{counter.isFirst}">
							<f:if condition="{element.listType} != 'amazon_affiliate_piproducts'">
								<f:if condition="{newsItem.teaser}">
									<f:then>
										<span itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</span>
									</f:then>
									<f:else>
										<span itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</span>
									</f:else>
								</f:if>
							</f:if>
						</f:if>
					</f:for>
				</f:then>
				<f:else>
					<f:if condition="{newsItem.teaser}">
						<f:then>
							<span itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</span>
						</f:then>
						<f:else>
							<span itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</span>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
	
			<!-- content elements -->
			<f:if condition="{newsItem.contentElements}">
				<f:for each="{newsItem.contentElements}" as="element">
					<f:if condition="{element.listType} == 'amazon_affiliate_piproducts'">
						<f:cObject typoscriptObjectPath="lib.amazonContentElementRendering">{newsItem.contentElementIdList}</f:cObject>
					</f:if>
				</f:for>
			</f:if>
			
		</div>
		</article>
		
		<f:comment>inEigenerSache</f:comment>
		<f:if condition="{newsItem.pid} != 81">
			<f:then>
				<!-- footer information -->
				<footer class="row">
				<div class="col-xs-12">
<f:comment>
					<section class="date">
						<!-- date -->
						<span class="news-list-date">
							<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
								<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
								<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
							</time>
						</span>
					</section>
					
					<section class="firstCategory">
						<!-- first category -->
						<f:if condition="{newsItem.firstCategory}">
							<span class="news-list-category">{newsItem.firstCategory.title}</span>
						</f:if>
						<f:if condition="{newsItem.categories}">
							<f:for each="{newsItem.categories}" as="category" iteration="iteratorCategories">
								<f:if condition="{category.shortcut}">
									<f:then>
										<f:link.action pageUid="{category.shortcut}" arguments="{overwriteDemand:{categories:category.uid}}">{category.title}</f:link.action>
									</f:then>
									<f:else>
										<f:link.action arguments="{overwriteDemand:{categories:category.uid}}">{category.title}</f:link.action>
									</f:else>
								</f:if>
							</f:for>
						</f:if>
					</section>
</f:comment>
					<!-- categories -->	
					<f:if condition="{newsItem.categories}">
						<section class="cats-tags categories">
							<f:for each="{newsItem.categories}" as="category" iteration="iteratorCategories">
								<span class="category label label-info">
							<f:link.page pageUid="{settings.catListPID}" additionalParams="{tx_news_pi1:{overwriteDemand:{categories:category.uid}}}">{category.title}</f:link.page>
								</span>
							</f:for>
						</section>
					</f:if>
<f:comment>		
					<!-- tags -->
					<f:if condition="{newsItem.tags}">
						<section class="cats-tags tags">
							<f:for each="{newsItem.tags}" as="tag">
								<span class="tag label label-info">
									<f:link.page pageUid="{settings.tagListPID}" additionalParams="{tx_news_pi1:{overwriteDemand:{tags: tag}}}">{tag.title}</f:link.page>
								</span>
							</f:for>
						</section>
					</f:if>
</f:comment>
<f:comment>	
					<section class="author">
						<!-- author -->
						<f:if condition="{newsItem.author}">
							<span class="news-list-author">
								<f:translate key="author" arguments="{0:newsItem.author}"/>
							</span>
						</f:if>
					</section>
</f:comment>
					<section class="more">
						<p class="more small">
						<n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
							<f:translate key="more-link"/>
						</n:link>
						</p>
					</section>
	
				</div>
				</footer>
			</f:then>
			<f:else>
				<footer class="row">
					<section class="more col-xs-12">
						<p class="more small">
						<n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
							<f:translate key="more-link"/>
						</n:link>
						</p>
					</section>
				</footer>
			</f:else>
		</f:if>
	</div>
</div>
</html>